.heading {
    color: chartreuse;
}

#p-1 {
    color: chocolate;
}

.container232939293929392 {
    background-color: aqua;
}

/* 
.para {
    background-color: red;
} */


.container.para1 {
    background-color: crimson;
}